*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  

}
 /* Evitar el scroll horizontal */
 html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: "Montserrat", sans-serif;
  line-height: 1.15;
  scroll-behavior: smooth;
}

:root {
  --primary:
    #a06cd5;
  --background: #191919;
  --navbar-height: 48px;
}

/*-----Logo------ */
.menu__bar {
  display: flex;
  align-items: center;
 

}

.logo {
  display: block;
  margin-left: 0;
  /* Asegura que el logo esté alineado a la izquierda */
}

.logo-img {
  width: 200px;
  /* Ajusta el tamaño según tus necesidades */
  height: auto;
  /* Mantiene la proporción de la imagen */
  z-index: 1001;
}

/*-----Estilo de NAV------ */

.menu__bar {
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}

.menu__bar a {
  color: black;
  /* Color de los enlaces en el estado normal */
}

/* Estilos para el menú después de hacer scroll */
.menu__bar.scrolled {
  background-color: black;
}

.menu__bar.scrolled a {
  color: white;
  /* Color de los enlaces después de hacer scroll */
}

.logo-img2 {
  transition: filter 0.3s;
}

.menu__bar.scrolled .logo-img2 {
  filter: brightness(0) invert(1);
  /* Hace que el logo sea blanco */
}

.menu__wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  z-index: 2;
}

.menu__bar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 4rem;
  gap: 2rem;

  height: 6rem;
  opacity: 0.9;

}

@media (max-width:786px) {
  .menu__bar {
    padding: 0 1rem;
  }
}

.menu-icon {
  cursor: pointer;
  display: flex;
  height: 2rem;
  width: 2rem;
  z-index: 1002;
  /* Asegura que el ícono esté por encima del menú */
}

.navigation {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 2rem;
  padding: 0;

}

.logo svg {
  width: 2rem;
  height: 2rem;
}

.navigation>li {
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
}

.navigation>li>a {
  color: white;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  text-decoration: none;
  font-weight: 700;
  background-image: linear-gradient(to right,
      var(--primary),
      var(--primary) 50%,
      white 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 0.2rem 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-in-out;
}

.navigation>li>a:before {
  content: '';
  background: var(--primary);
  display: block;
  position: absolute;
  bottom: -0.125rem;
  left: 0;
  width: 0;
  height: 0.125rem;
  transition: all 0.2s ease-in-out;
}

.navigation>li>a:hover {
  background-position: 0;
}

.navigation>li>a:hover::before {
  width: 100%;
}

/* Estilos del botón de WhatsApp */
@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  animation: float 1s infinite;


}

.whatsapp-button a {
  display: block;
  padding: 15px;
  text-align: center;
}

.whatsapp-button img {
  width: 85px;
  /* Tamaño del icono de WhatsApp */
  height: 85px;

}

@media (min-width: 600px) {
  .menu-icon {
    display: none;
  }
}

@media (max-width: 600px) {
  .whatsapp-button img {
    width: 55px;
    /* Tamaño del icono de WhatsApp */
    height: 55px;

  }

  .navigation {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .navigation--mobile {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    /* Cambia a fixed para ocupar toda la pantalla */
    display: flex;
    padding: 0;
    /* Elimina el padding para centrar correctamente */
    width: 100vw;
    /* Ocupa el ancho completo de la pantalla */
    height: 100vh;
    /* Ocupa el alto completo de la pantalla */
    /* Asegura que el menú ocupe toda la altura de la pantalla */
    background-color: rgb(0, 0, 0);
    gap: 3rem;
    flex-direction: column;
    align-items: center;
    /* Centra horizontalmente */
    justify-content: center;
    /* Centra verticalmente */

    animation: fadein 0.3s forwards;
    z-index: 1000;
    /* Asegura que el menú esté por encima de otros elementos */
  }

  @keyframes fadein {
    0% {
      opacity: 0;
      width: 0;
      height: 0;
    }

    100% {
      opacity: 1;
      width: 100%;
      height: calc(100vh - var(--navbar-height));
    }
  }

  .navigation--mobile--fadeout {
    animation: fadeout 300ms forwards;
  }

  @keyframes fadeout {
    0% {
      opacity: 1;
      width: 100%;
      height: calc(100vh - var(--navbar-height));
    }

    100% {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

}

/*-----Fin de NAV------ */

/* Estilos generales para imágenes parallax */
.parallax-image {
  display: block;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* Ajustes específicos para dispositivos móviles */
@media (max-width: 768px) {
  .parallax-image {
    background-attachment: scroll !important;
    /* Deshabilita el efecto parallax en dispositivos móviles */
    background-size: cover !important;
    background-position: center !important;
    height: auto !important;
    min-height: 50vh !important;
  }

  .parallax-image-02 {
    background-image: url("../imagenes/Comida fondo.jpg");
  }
}



/* Estilos específicos para cada imagen parallax */
.parallax-image-01 {
  background-image: url("../imagenes/Presentacion.jpg");
}

.parallax-image-02 {
  background-image: url("../imagenes/Comida fondo.jpg");
}

.parallax-image-03 {
  background-image: url("../imagenes/Testimonio fondo.jpg");
}

.parallax-image-04 {
  background-image: url("../imagenes/Preguntas frecuentes.jpg");
}



section>h2 {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

/*-----Foto header------ */
/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/
.parallax {
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

}

/* Estilos para el efecto Parallax */
.main-banner {

  background-size: cover;
  height: 95vh;
  padding-top: 290px;
  padding-bottom: 240px;

}


.header-text {
  width: 60%;
  margin-left: 75px;
  margin-top: -50px;
}


.highlighted-text2 {
  background-color: rgb(250, 250, 250);
  font-size: 2.5rem;
  letter-spacing: -1px;
  font-weight: 900;
  font-style: italic;
  color: rgb(36, 36, 36);
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px 10px;
}

.highlighted-text {
  font-size: 15px;
  background-color: black;
  color: white;
  font-style: italic;
  display: inline-block;
  font-weight: bold;
  padding: 5px;
}


.main-banner .buttons {
  margin-top: 30px;
  display: flex;
  justify-content: start;
}


.buttons {
  display: flex;
  gap: 10px;
  /* Espacio entre los botones */
  justify-content: center;
  /* Centra los botones horizontalmente */
  align-items: center;
  /* Alinea los botones verticalmente */
  margin-top: 20px;
  /* Espacio superior, ajusta según necesidad */
}

.border-button a,
.main-button a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  /* Ajusta el tamaño de la fuente según necesidad */
  border-radius: 5px;
  text-align: center;
}

.border-button a {
  color: #ffffff;
  /* Color del texto */
  border: 2px solid #ffffff;
  /* Borde del botón */
  background-color: transparent;
  /* Fondo transparente */
  transition: all 0.3s ease;
  /* Transición suave para el hover */
}

.border-button a:hover {
  background-color: #5f5f5f;
  /* Color de fondo al pasar el cursor */
  color: #fff;
  /* Color del texto al pasar el cursor */
}

.main-button a {
  color: #fff;
  /* Color del texto */
  background-color: #28a745;
  /* Color de fondo */
  border: 2px solid #28a745;
  /* Borde del botón */
  transition: all 0.3s ease;
  /* Transición suave para el hover */
}

.main-button a:hover {
  background-color: #218838;
  /* Color de fondo al pasar el cursor */
  border-color: #1e7e34;
  /* Color del borde al pasar el cursor */
}

@media (max-width:786px) {
  .main-banner {


    padding-bottom: 120px;
  }

  .header-text {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding: 0 10%;
  }

  .main-banner .buttons {
    display: flex;
    justify-content: center;

  }

  .buttons a {
    margin: 0 10px;
    /* Espacio entre los botones */
  }


  .main-banner h2 {

    font-size: 25px;
  }
}

.main-banner p {
  margin-top: 5px;
}



.main-banner .border-button {
  margin-right: 15px;
}

.main-banner .owl-banner {
  margin-top: -40px;
}

.main-banner .owl-nav {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  bottom: -76px;
  text-align: center;
}

.main-banner .owl-nav .owl-prev {
  margin-right: 7.5px;
}

.main-banner .owl-nav .owl-next {
  margin-left: 7.5px;
}

.main-banner .owl-nav .owl-prev span,
.main-banner .owl-nav .owl-next span {
  width: 46px;
  height: 46px;
  line-height: 46px;
  font-size: 24px;
  display: inline-block;
  color: #7453fc;
  background-color: #fff;
  border-radius: 50%;
  opacity: 1;
  transition: all .3s;
}

.main-banner .owl-nav .owl-prev span:hover,
.main-banner .owl-nav .owl-next span:hover {
  opacity: 1;
}

/*-----Texto que gira------ */
.texti {
  display: flex;
  justify-content: flex-start;
  background: #000000;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.text3 {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  /* Agregamos el estilo itálico */
  text-transform: uppercase;
  color: black;
  /* Color de relleno de las letras */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
  /* Color del borde de las letras */
  white-space: nowrap;

  padding: 0 3rem;
  letter-spacing: -0, 5px;
  animation: move-rtl 6000ms linear infinite;
}

.text4 {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  color: rgb(251, 251, 251);
  /* Color de relleno de las letras */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
  /* Color del borde de las letras */
  white-space: nowrap;

  padding: 0 3rem;
  letter-spacing: -0, 5px;
  animation: move-rtl 6000ms linear infinite;
}

@keyframes move-rtl {
  0% {
    transform: translateX(0);
    /* Comienza desde la parte superior */
  }

  100% {
    transform: translateX(-100%);
    /* Se desplaza completamente hacia arriba */
  }
}

/*-----Fin Texto que gira------ */




/*-----INICIO SECCION COMIDA------ */


.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.section-banner {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  min-width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  /* Ajustamos el ancho mínimo para el carrusel */
}

.content {
z-index: 1;
  width: 100%;
  color: white;
  text-align: center;
  padding: 20px;
  
}

.titulo {
margin-top: 50px;
margin-right: 40px;
  z-index: 1;
  color: white;
}
.titulo2 {
 margin-left: 100px;
    z-index: 1;
    color: white;
  }
.images-container .carousel-item {
  z-index: 1;
}

.images-container2 .carousel-item {
  z-index: 1;
}

.images-container .carousel-item2 {
  z-index: 1;
}

.left-image {
  position: relative;
  z-index: 10;
  width: 65%;
  height: 100vh;
  background-image: url('../imagenes/Plato\ 00.png');
  background-size: cover;
}

.left-image2 {
z-index: 0;
  position: absolute;
  width: 30%;
  /* Ajusta según sea necesario */
  height: 100vh;
  /* Ajusta según sea necesario */
  background-image: url('../imagenes/Mancuerna.png');
  background-size: cover;
  background-position: center;
  /* Centra la imagen */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
}

.images-container {
  display: flex;
}

.images-container2 {
  display: flex;
  justify-content: center;
  gap: 80px;   
}

.carousel-item {
  flex: 0 0 auto;
  padding: 10px;
  text-align: center;
  position: relative;
  margin-right: 10px;
}

.carousel-item2 {
  flex: 0 0 auto;
  padding: 20px;
  text-align: center;
  position: relative;
  margin-right: 100px;
}

.images-container {
  margin-left: -100px;
  display: flex;
  position: relative;
}

.images-container2 {
  margin-left: 180px;
  display: flex;
  position: relative;
}

.carousel-item {
  position: relative;
}

.carousel-item2 {
  position: relative;
}

.image-container {
  position: relative;
  z-index: 1;
  z-index: 999;
}

.carousel-item img {
  height: auto;
  max-height: 200px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  z-index: 999;

}


.carousel-item img:hover {
  transform: scale(1.1);
  /* Efecto de zoom */

}

.carousel-item2 img {
  cursor: pointer;
  height: auto;
  max-height: 200px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  z-index: 999;

  /* Sombra inicial */
}

.carousel-item2 img:hover {
  transform: scale(1.1);
  /* Efecto de zoom */
  
  /* Sombra más intensa */
}

.image-overlay {
  position: absolute;
  left: 50%;
  width: calc(80% + 20px);
  height: calc(80% + 10px);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  transform: translate(-50%, -60%);
  z-index: 0;
 
}
.image-overlay2 {
  position: absolute;
  left: 50%;
  width: calc(70% + 40px);
  height: calc(70% + 5px); /* Reduce la altura */
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  transform: translate(-50%, -60%); /* Mueve la imagen un poco más hacia abajo */
  z-index: 0;
}
.caption {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  z-index: 99999;
  text-transform: uppercase;
  text-align: center;
  margin-top: -30px;
  position: relative;
  top: 60px;
}

.carousel-item .caption p {
  font-size: 35px;
  color: #6d6a6a;
  font-weight: 800;
  font-style: italic;
  margin: 0;
  z-index: 333;
}

.carousel-item2 .caption p {
  font-size: 23px;
  color: #6d6a6a;
  font-weight: 800;
  font-style: italic;
  margin: 0;
  z-index: 333;
}

.titulo {
  color: #000000;
  text-align: center;
}

.highlighted-text3 {
  background-color: rgb(0, 0, 0);
  font-size: 1rem;
  letter-spacing: -1px;
  font-weight: 900;
  font-style: italic;
  color: rgb(255, 255, 255);
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px 10px;
  text-align: left;
}

.highlighted-text4 {
  background-color: rgb(0, 0, 0);
  font-size: 1rem;
  letter-spacing: -1px;
  font-weight: 900;
  font-style: italic;
  color: #a06cd5;
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px 10px;
  text-align: left;
}

button.start-plan {
  background-color: #6a0dadde;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  position: absolute;
  bottom: 20px;
  right: 10%;
  z-index: 2;
  box-shadow: 0 0 20px rgb(160, 108, 213);
}

button.start-plan:hover {
  background-color: #5500b0;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

@media (max-width: 1300px) {
  

  .highlighted-text3,
  .highlighted-text4 {
    font-size: 0.9rem;
    /* Ajusta el tamaño del texto */
    padding: 3px 5px;
    /* Ajusta el padding */
  }

  .carousel-item {
    flex: 1 1 100%;
    max-width: none;
  }

  .carousel-item2 {
    flex: 1 1 100%;
    max-width: none;
  }

  .start-plan {
    font-size: 1em;
    padding: 8px 16px;
  }
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 786px) {

  .section-banner {
    padding-bottom: 0px;
  }
  .highlighted-text2 {
    font-size: 19px;
  }



  .left-image {
    display: none;
    /* Oculta la imagen de la izquierda en dispositivos móviles */
  }

  .left-image2 {
    display: none;
    /* Oculta la imagen de la izquierda en dispositivos móviles */
  }

  .content {
    width: 100%;
    padding: 20px 0px;
    text-align: center;
  }

  .titulo {
    margin-right: 0px;
    margin-top: 50px;
    font-size: 1.2rem;
    /* Ajusta el tamaño del texto */
    color: white;
  }
  .titulo2 {
    
    margin-left: 0px;
    margin-top: 50px;
    font-size: 1.2rem;
    /* Ajusta el tamaño del texto */
    color: white;
  }

  .images-container {
    flex-direction: column;
    /* Cambia la dirección del flex a columna */
    align-items: center;
    margin-left: 0;
    margin-bottom: 80px;
  }

  .images-container2 {
    flex-direction: column;
    /* Cambia la dirección del flex a columna */
    align-items: center;
    margin-left: 0;
    margin-bottom: 80px;
  }

  .carousel-item {
    width: 200px;
    /* Ajusta el ancho de los elementos del carrusel */
    margin: 10px 0;
    /* Añade margen superior e inferior */
    padding: 5px;
    /* Ajusta el padding */
  }

  .carousel-item img {
    width: 100%;
    max-height: 150px;
    /* Ajusta la altura máxima para mobile */
  }

  .carousel-item2 {
    width: 200px;
    /* Ajusta el ancho de los elementos del carrusel */
    margin: 10px 0;
    /* Añade margen superior e inferior */
    padding: 5px;
    /* Ajusta el padding */
  }

  .carousel-item2 img {

    max-height: 150px;
    /* Ajusta la altura máxima para mobile */
  }


  .caption {
    font-size: 14px;
    /* Ajusta el tamaño del texto de la leyenda */
    top: 10px;
    /* Ajusta la posición del texto */
  }

  .highlighted-text3,
  .highlighted-text4 {
    font-size: 0.9rem;
    /* Ajusta el tamaño del texto */
    padding: 3px 5px;
    /* Ajusta el padding */
  }

  .carousel-item .caption p {
    font-size: 25px;
    /* Ajusta el tamaño del texto según sea necesario */

  }

  .carousel-item2 .caption p {
    margin-top: 20px;
    font-size: 20px;
    /* Ajusta el tamaño del texto según sea necesario */

  }

  button.start-plan {

    padding: 8px 16px;
    font-size: 0.6em;

  }
}





/*----FIN SECCION DE COMIDA------ */

/*----Inicio de testimonios------ */


/*----Fin de testimonios------ */




/*----Preguntas frecuentes------ */
.section-preguntas {
  height: 100vh;
  margin: 0 auto;
  padding-top: 200px;
}

@media (max-width:786px) {
  .section-preguntas {

    padding-top: 100px;
  }

  
}

.highlighted-text5 {
  background-color: rgb(250, 250, 250);
  font-size: 2rem;
  letter-spacing: -1px;
  font-weight: 900;
  font-style: italic;
  color: rgb(36, 36, 36);
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px 10px;
}

.centered-title {
  text-align: center;
  width: 100%;
  display: block;
}

.faq-section {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 100px;
}

h2 {
  text-align: center;
}

.faq-question {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 0;
}

.faq-question p {
  font-weight: 700;
  font-style: italic;
  color: #fff;
  margin-left: 10px;
  flex: 1;
}

.faq-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #a06cd5;
  color: #000;
  font-size: 14px;
}

.faq-answer {
  display: none;
  background-color: #00000096;
  padding: 10px 0;
}

.faq-answer p {
  color: #fff;
  margin-left: 10px;
}

hr {
  border: 1px solid #fff;
}

/*----FIN de Preguntas frecuentes------ */


/*----Inicio de footer------ */

.footer {
  background: url('../imagenes/Footer.jpg') no-repeat center center;
  background-size: cover;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: #fff;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
}

.logo img {
  max-height: 80px;
}

.copyright {
  font-weight: bold;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icon svg {
  width: 30px;
  height: 30px;
  fill: #ffffff;
  /* Color violeta */
  transition: fill 0.3s ease;
}

.social-icon svg:hover {
  fill: #6a0dad;
  /* Color al pasar el mouse */
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .logo,
  .copyright,
  .social-icons {
    margin: 10px 0;
  }
}

/*----Fin de footer------ */

/*-----Estilo de movmiento de tarjeta------ */

.position-relative {
  position: relative;
  width: 100%;
  height: 100vh;
  /* Ajusta la altura como necesites */
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
}

.error__card-img {
  perspective: 800px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  /* Agregamos esta línea para asegurar que la transformación preserve la perspectiva */
}

.error__card-img:hover {
  transform: perspective(800px) rotateX(5deg) rotateY(5deg);
  /* Reducimos la rotación para un efecto más sutil */
}


.error__card-background {
  left: 15%;
  top: -15%;
  z-index: -1
}

.error__card-img img {
  filter: drop-shadow(rgba(0, 0, 0, .3) 10px 13px 10px);

  transform-style: preserve-3d
}

/*-----FIN de movmiento de tarjeta------ */